# Custom Ignores
game
ex1
rps.output
EX1_tests_1-5/
LIRON_test_result.txt
LIRON_test_result_2.txt
aviran2.0/
main_testing/
player1.rps_board
player1.rps_moves
player2.rps_board
player2.rps_moves
rps.expected