# Custom Ignores
HW1/game
HW1/ex1
HW1/rps.output
EX1_tests_1-5/
LIRON_test_result.txt
LIRON_test_result_2.txt
aviran2.0/

# Visual Studio Code
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
